* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all .3s ease-in;
}

html, body{
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #000;
	line-height: 1;
	background-image: url(../image/bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.container {
	max-width: 805px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	padding: 26px 64px 62px 64px;
	color: #ebe7ef;
	font-weight: 300;
}

.nav {
	font-size: 0;
	text-align: justify;
	margin-bottom: 270px;
}

.nav:after {
	content: '';
	width: 100%;
	display: inline-block;
}

.logo {
	display: inline-block;
	vertical-align: middle;
}

.nav__link {
	display: inline-block;
}

.nav__link:focus {
	box-shadow: 0 0 0 5px #0f0f;
}

.nav__link:hover {
	opacity: 0.5;
}

.nav__link:active {
	opacity: 0.1;
}

.nav-menu {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

.nav-menu__item {
	display: inline-block;
	font-size: 12px;	
	font-weight: 300;
	margin-right: 48px;

}

.nav-menu__item:nth-child(4) {
	margin-right: 115px;
}

.nav-menu__item:last-child {
	margin-right: 0;
}

.nav-menu__link {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

.nav-menu__link:focus {
	box-shadow: 0 0 0 5px #0f0f;
}

.nav-menu__link:hover {
	opacity: 0.5;
}

.nav-menu__link:active {
	opacity: 0.1;
}

